.cheatsheet-style{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}


.namestyle{
    margin-top: 15px;
    margin-left: 10px;
}

.td-style{
    font-weight: 600;
}